.header {
  width: 100%;
  height: 100vh;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header div {
  margin: 0.5rem;
  width: 40%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
}
.icon:hover {
  font-size: 2rem;
  cursor: pointer;
}
.header div input {
  height: 1.7rem;
  width: 90%;
  font-size: 1.2rem;
}
.icon {
  font-size: 2rem;
}
button {
  padding: 0.5rem 2rem;
  border-radius: 0.2rem 0.5rem 0.2rem 0.3rem;
  border: none;
  background-color: lightslategray;
  font-size: 1.3rem;
}
button:hover {
  background-color: grey;
  color: white;
}
h2 {
  margin-top: -5rem;
  font-size: 3rem;
  color: rgb(121, 176, 20);
}
span {
  color: rgb(27, 14, 14);
}
p {
  cursor: pointer;
  color: rgb(43, 0, 255);
}
